<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true"/>

    <script src="https://unpkg.com/@@phosphor-icons/web"></script>
</head>
<body>
    <header>
        <nav>
            <a asp-page="/Index">
                <i class="ph ph-house"></i>
                <span>Home</span>
            </a>
            <a asp-page="/Register">
                <i class="ph ph-user-plus"></i>
                <span>Register</span>
            </a>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        &copy; 2024 - AzerothConnect
    </footer>
</body>
</html>